// Dashboard sidebar
#dashboard {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 275px;
    padding: 75px 0px 0px 0px;
}
    .dash-h3 {
        font-weight: 600;
        margin-left: 25px;
    }

// Container for dash menus
.dash-container {
    margin: 0px 15px 15px 15px;
    padding: 0px 0px 5px 0px;
}
    .dash-h4 {
        display: inline;
        font-weight: 400;
        margin-left: 10px;
    }
    .dash-subtitle {
        font-size: 0.65rem;
        font-weight: 600;
        opacity: 75%;
        margin-left: 10px;
    }
    // Holds title and button
    .dashboard-container-head {
        display: inline;
        width: 100%;
        text-align: justify;
    }
        .dropdownbutton {
            float: right;
            margin: 10px 10px 0px 0px;
            text-align: center;
        }
    // Top decoration
    .dashboard-containertop {
        margin-bottom: 5px;
    }

// Active task list
#dashactivetasks {
    margin: 10px;
    display: flex;
    height: 300px;
    overflow-y: scroll;
}