// Dashboard sidebar
#dashboard {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 275px;
    padding: 75px 0px 0px 0px;
}
    #dash-title {
        font-weight: 600;
        margin-left: 25px;
    }
    #dash-title + p {
        font-size: 0.75rem;
        opacity: 75%;
        margin: 0px 0px 25px 25px;
    }

// Holds the active task list
#dashactivetasks-container {
    margin: 0px 15px 0px 15px;
    padding: 5px 0px 5px 0px;
}
    #dashactivetasks-title {
        font-weight: 400;
        margin-left: 10px;
    }
    #dashactivetasks-title + p {
        font-size: 0.65rem;
        font-weight: 600;
        opacity: 75%;
        margin-left: 10px;
    }
// Active task list
#dashactivetasks {
    margin: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    display: flex;
    height: 300px;
}