// footer - elements are distributed horizontally
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
footer > p {
    height: min-content;
    margin: 0;
    font-weight: 500;
}
footer > a {
    font-weight: 500;
    color: #707070;
}