.dropdownbutton {
    //border: 0.5px solid #70707080;
    border: none;
    background-color: #ffdab880;
    border-radius: 5px;
    color: #707070;
    line-height: 13px;
}

.kanban-column-addbtn, .kanban-column-delbtn {
    border: none;
    border-radius: 15px;
    aspect-ratio: 1/1;
    line-height: 13px;
}
    .kanban-column-delbtn {
        color: transparent;
        background-color: transparent;
    }
    .kanban-column-addbtn {
        color: transparent;
        background-color: transparent;
        aspect-ratio: 1/1;
        font-size: 20px;
        font-weight: 600;
    }
    .kanban-column:hover > .kanban-column-delbtn {
        background-color: #fff7f040;
    }
    .kanban-column:hover > div > .kanban-column-addbtn {
        background-color: #fff7f040;
    }
        .kanban-column-delbtn:hover {
            color: #ffffff;
        }
        .kanban-column-addbtn:hover {
            color: #707070BF;
        }

#taskadd-button {
    background-color: #FF6E50;
    width: 140px;
    height: 50px;
    border-radius: 20px;
    color: #ffffff;
    border: none;
    font-size: 22px;
}

.dashactivetasks-item > button {
    background-color: transparent;
    position: relative;
    width: fit-content;
    height: 23px;
    float: right;
    top: -25px;
    border-radius: 50px;
    color: #707070BF;
    border: none;
    font-size: 0.9rem;
}
    .dashactivetasks-item > button:hover {
        background-color: #92929240;
    }
.dashdeldtasks-item > button {
    background-color: #929292;
    width: fit-content;
    height: 20px;
    border-radius: 15px;
    color: #ffffff;
    border: none;
    font-size: 0.8rem;
    padding: 0px 10px 0px 10px;
    margin: 6px 0px 4px 20px;
}

#timerbuttons-container > button {
    background-color: #929292;
    width: fit-content;
    height: 40px;
    border-radius: 15px;
    color: #ffffff;
    border: none;
    font-size: 1.25rem;
    padding: 0px 10px 0px 10px;
}

#activetasktimer-buttoncontainer > button {
    background-color: #929292;
    width: fit-content;
    height: 30px;
    border-radius: 15px;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    padding: 0px 10px 0px 10px;
}

#activetaskstopwatch-buttoncontainer > button {
    background-color: #929292;
    width: fit-content;
    height: 30px;
    border-radius: 15px;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    padding: 0px 10px 0px 10px;
}

.editbutton {
    width: fit-content;
    height: 40px;
    text-align:center;
    border-radius: 15px;
    color: #ffffff;
    border: none;
    font-size: 1.25rem;
    padding: 0px 10px 0px 10px;
}
#activetaskmain-editbutton {
    background-color: #929292;
}

#activetaskmain-addbutton {
    border: none;
    border-radius: 50px;
    aspect-ratio: 1/1;
    width: 40px;
    color: #707070;
    line-height: 13px;
    font-size: 1.75rem;
    font-weight: 400;
}
    #activetaskmain-openallbutton {
        background-color: #929292;
        width: fit-content;
        height: 40px;
        border-radius: 15px;
        color: #ffffff;
        border: none;
        font-size: 1.5rem;
        padding: 0px 10px 0px 10px;
    }

.tasklistitem-delbutton {
    border: none;
    border-radius: 50px;
    aspect-ratio: 1/1;
    width: 30px;
    color: transparent;
    background-color: transparent;
    line-height: 13px;
    font-size: 1rem;
    font-weight: 400;
}
.tasklist-item:hover > .tasklistitem-delbutton{
    color: #707070;
}
.tasklistitem-openbutton {
    border: none;
    border-radius: 50px;
    width: fit-content;
    height:28px;
    //color: transparent;
    background-color: transparent;
    color: #707070;
    line-height: 13px;
    font-size: 1rem;
    font-weight: 400;
}
.tasklistitem-openbutton:hover {
    color: #313131;
}