.dropdownbutton {
    //border: 0.5px solid #70707080;
    border: none;
    background: #ffdab880;
    border-radius: 5px;
    color: #707070;
    line-height: 13px;
}

#taskadd-button {
    background: #FF6E50;
    width: 140px;
    height: 50px;
    border-radius: 20px;
    color: #ffffff;
    border: none;
    font-size: 22px;
}