header { 
    background: #EFA465;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

#dashboard {
    background-color: #fff2e6bf;
    box-shadow: 1px 0px 3px #00000033;
}
    .dash-container {
        background-color: #FFF5EC;
        border: 1px solid #bebebe;
        border-radius: 10px;
    }
    .dashboard-containertop {
        width: 100%;
        height: 10px;
        border-radius: 9px 9px 0 0;
    }
    #dashactivetasks-containertop {
        background-color: #EFA465;
    }
    #dashdeldtasks-containertop {
        background-color: #eeaf7b;
    }
    #dashactivetasks {
        border: 1px solid #999999;
        border-radius: 5px;
    }
    #dashdeldtasks {
    background-color: #ffffff;
    border: 1px solid #999999;
    border-radius: 5px;
    }
        .dashdeldtasks-item {
            -moz-box-shadow:    inset 0px 3px 8px #00000029;
            -webkit-box-shadow: inset 0px 3px 8px #00000029;
            box-shadow:         inset 0px 3px 8px #00000029;
        }
        .dashdeldtasks-item > h4 {
            padding-bottom: 5px;
            font-size: 1.4rem;
            text-decoration: underline 2px;
            padding-bottom: 1px;
        }
        .dashdeldtasks-item > p {
            font-size: 0.8rem;
            border-bottom: 1px solid #70707040;
        }
    #dashactivetasks {
    background-color: #ffffff;
    border: 1px solid #999999;
    border-radius: 5px;
    }
        .dashactivetasks-item {
            -moz-box-shadow:    inset 0px 3px 8px #00000029;
            -webkit-box-shadow: inset 0px 3px 8px #00000029;
            box-shadow:         inset 0px 3px 8px #00000029;
        }
        .dashactivetasks-item > h4 {
            padding-bottom: 5px;
            font-size: 1.4rem;
            text-decoration: underline 2px;
            padding-bottom: 1px;
        }
        .dashactivetasks-item > h7 {
            padding-bottom: 5px;
            font-size: 0.75rem;
            font-style:italic;
        }
        .dashactivetasks-item > p {
            font-size: 0.8rem;
            border-bottom: 1px solid #70707040;
        }

#taskadd-form {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.kanban-entry {
    box-shadow: 1px 1px 3px #0000001A;
}

html {
    background-image: linear-gradient(#E1BFA2 0% 40%, #F5F2EB 60%);
    height: auto;
}

main {
    //background-image: linear-gradient(#E1BFA2 0% 40%, #F5F2EB 60%);
}
#container {
    //background-image: linear-gradient(#E1BFA2 0% 40%, #F5F2EB 60%);
}

#taskadd-form {
    background-color: #ffffff;
    border: 1px solid #bebebe;
    border-radius: 10px;
}

.activetaskpanel-topbig {
    background-color: #a7a7a7;
    width: 100%;
    height: 40px;
    border-radius: 39px 39px 0 0;
}
.activetaskpanel-topsmall {
    background-color: #a7a7a7;
    width: 100%;
    height: 20px;
    border-radius: 19px 19px 0 0;
}
.activetaskpanel-lvl1 {
    border: 1px solid #bebebe;
    box-shadow: 1px 1px 3px #0000001A;
}
    .activetaskpanel-lvl1a {
        border: 1px solid #bebebe;
        box-shadow: 1px 1px 3px #0000001A;
    }
.activetaskpanel-lvl2 {
    border: 1px solid #999999;
    border-radius: 20px;
    background-color: #ffffff;
}
.activetaskpanel-lvl3 {
    border: 1px solid #999999;
    border-radius: 10px;
    background-color: #ffffff;
}

.tasklist-item {
    border-bottom: 1px solid #999999;
}

#activetaskmain-pomedit {
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
}
#activetaskmain-pomeditlist {
    border-right: 1px solid #999999;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-left: none;
}
    .pomedititem-work {
        border-bottom: 1px solid #999999;
    }
    .pomedititem-break {
        border-bottom: 1px solid #999999;
    }

footer {    
    background-color: #ffffff;
    // Inner shadow
    -moz-box-shadow:    inset 0px 3px 8px #00000029;
    -webkit-box-shadow: inset 0px 3px 8px #00000029;
    box-shadow:         inset 0px 3px 8px #00000029;
}