// Grid CSS, stores all our main site grid layouting

// Import the layouts for our two main sections
@import "kanban.scss";
@import "activetask.scss";


// main grid
#container {  
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: 60px 1fr 50px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "dashboard main"
      "footer footer";
}
  
// header - elements are distributed horizontally
header { 
    grid-area: header; 
    display: flex;
    flex-direction: row;
}
  
#dashboard { 
    grid-area: dashboard; 
}
 
// main content - 2 rows for the two sections
main {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    // kanban + activetask are in separate styles
    grid-template-areas:
      "kanban-container"
      "activetask-container";
    grid-area: main;
}

// footer - elements are distributed horizontally
footer { 
    grid-area: footer; 
    display: flex;
    flex-direction: row;
}
  
  
html, body , #container {
    height: 100%;
    margin: 0;
}
  
  /* For presentation only, no need to copy the code below 
  
  #container * {
    border: 1px solid red;
    position: relative;
  }
  
  #container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  */
  