// Grid CSS, stores all our main site grid layouting

// Import the layouts for our two main sections
@import "kanban.scss";
@import "activetask.scss";


// main grid
#container {  
  display: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 60px auto 50px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "dashboard main"
    "footer footer";
}
  
header { 
    flex-direction: row;
}
  
#dashboard { 
    grid-area: dashboard; 
}
 
// main content
main {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 95vh 90vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    // kanban + activetask are in separate styles
    grid-template-areas:
      "kanban-container"
      "activetask-container";
    grid-area: main;
}
  #kanban-container {
    grid-area: kanban-container;
  }
  #activetask-container {
    grid-area: activetask-container;
  }

// footer - elements are distributed horizontally
footer { 
    grid-area: footer; 
}