// Holds the two kanban sections - header and board
#kanban-container { 
    display: block;
    width:100%;
    height:100%;
}
    // Kanban header, holds addtask button
    #kanban-head {
        margin: 25px 0px 25px 0px;
        padding: 0% 5% 0% 2.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
    .instructions {
        font-size: 16px;
        font-weight: 300;
        color: #ffffff99;
    }
    #taskadd-button {
        align-self: flex-end;
    }

// Kanban board
#kanban-board {
    min-width: 1000px;
    display: flex;
    width: 100%;
    min-height: 800px;
    padding: 0 5% 0 5%;
    margin: 0 auto;
}
    // Columns
    .kanban-column {
        width: 100%;
        border-right: solid 1px white; 
        border-left: solid 1px white;
        display: inline;
        text-align: center;
    }
    // Column headings
    .kanban-column > h1 {
        text-decoration: underline 3px;
        font-size: 16px;
        font-size: 4vh;
        margin-bottom: 20px;
        text-align:center;
        color: white;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    }
    .kanban-column-addbtn {
        float: right;
        position: relative;
        top: 250px;
        left: 13px;
    }
    .kanban-column-delbtn {
        position: relative;
        //top: 0px;
    }

// Individual notes
.kanban-entry {
    display: flex;
    width: 150px;
    height: 150px;
    flex-direction: column;
    position: absolute;
    text-align: left;
    user-select: none;
}
    .kanban-entry-textcontainer {
        height: 88%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        aspect-ratio: auto;
    }
        .kanban-entry-title {
            margin: 3%;
            font-size: 16px;
            //font-size: 0.85vw;
            font-weight: 500;
        }
        .kanban-entry-duedate, .kanban-entry-priority {
            margin: 3%;
            font-size: 13px;
            //font-size: 0.68vw;
        }
        .kanban-entry-priority {
            border-top: solid 1px #70707040;
        }
.kanban-entryheader {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: min-content;
}
    .kanban-entryheader > button {
        //position: absolute;
        border: none;
        font-size: 12px;
        font-size: 0.75vw;
        background-color: transparent;
        //top: -2%;
        //right: -3%;
        color: #707070;
    }
    .kanban-entryheader > button:hover {
        font-weight:600;
        background-color: #70707040;
    }